{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "document": false,
    "navigator": false,
    "location": false,
    "weex": true,
    "Vue": true
  },
  "rules": {
    "semi": "off",
    "no-control-regex": "off",
    "vue/html-self-closing": "off",
    "space-before-function-paren": 2,
    "eol-last":"off",
    "skipBlankLines": "off",
    "indent":"off",
    "no-trailing-spaces":"off",
    "comma-dangle":"off",
    "valid-typeof":"off",
    "prefer-const":"off",
    "quotes":"off",
    "vue/no-parsing-error":"off",
    "import/first":"off"
  },
  "extends": "vue"
}
